<div class="row fill">
    <div class="col-md-6 fill">
        <div class="panel panel-success fill">
            <div class="panel-heading">Local</div>
            <div class="panel-body fill stream">
                <hexedit data="localStream" class="fill"></hexedit>
            </div>
        </div>
    </div>
    <div class="col-md-6 fill">
        <div class="panel panel-info fill">
            <div class="panel-heading">remote</div>
            <div class="panel-body fill stream">
                {{remoteStream}}
            </div>
        <div>
    </div>
</div>
